body{
    background-color: antiquewhite;
}

#title{
    font-family: 'Brush Script MT';
    padding:10px 20px;
    text-align: center;
}

.floatingLeft{
    width: 380px;
    float: left;
    margin-right: 10px;
    border-radius: 10px;
    text-shadow: 2px;
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    border-radius: 10px;
}

p.paragraphRightFloat{
    margin-right: 5px;
    text-align: justify;
    margin-bottom: 150px;
}

.coloredList{
    color: blueviolet;
}

button{
    background-color: rgb(221, 122, 122);
    border: none;
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
}

a {
    color:white;
    font-weight: bold;
}